*.json
.~lock*
**/*.jpg
.idea
*.xopp
*.xopp~
**/*.xlsx
*.odp
__pycache__
output
test_coco.py
test.py
**/uploads/**
dataset
Experiments
Model Weights
temp
templates
test_images
test-exp
TestDataset
*.log

